<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'core/base.html' %}
{% block content %}
<h2>Engineers</h2>
<a href="{% url 'engineer_create' %}" class="btn btn-success mb-3">+ Add Engineer</a>
<table class="table table-dark table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Specialty</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    {% for e in engineers %}
    <tr>
        <td>{{ e.name }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.specialty }}</td>
        <td>{{ e.active }}</td>
        <td>
            <a href="{% url 'engineer_update' e.pk %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'engineer_delete' e.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</body>
</html>