<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'core/base.html' %}
{% block content %}
<h2>Threat Logs</h2>
<a href="{% url 'threat_create' %}" class="btn btn-danger mb-3">+ Report Threat</a>
<table class="table table-dark table-striped">
    <tr>
        <th>Mission</th><th>Level</th><th>Description</th><th>Reported On</th><th>Action</th>
    </tr>
    {% for t in threats %}
    <tr>
        <td>{{ t.mission.title }}</td>
        <td>{{ t.level }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.reported_on }}</td>
        <td>
            <a href="{% url 'threat_delete' t.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</body>
</html>